<div class="row">
    <div class="col-md-6">
        <form class="form" #productSetup="ngForm" (ngSubmit)="onSubmit()" novalidate>
           
            <div class="card-body">
             <h3 class="font-size-lg text-dark font-weight-bold mb-6">Product Category / Group Setup</h3>
             <div class="mb-15">
              <div class="form-group row">
               <label class="col-lg-12 col-form-label">Category / Group Name:</label>
               <div class="col-lg-12">
                <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="CatName" [(ngModel)]="ProductSetupModel.categoryName" placeholder="Enter Category / Group Name"/>
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">Please category name is required</small>
                
               </div>
              </div>
              
             </div>
             
            
            </div>
            <div class="card-footer">
             <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
               <button [disabled]="productSetup.form.invalid"  type="submit" class="btn btn-success mr-2">{{btnName}}</button>
               
              </div>
             </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="card-body">
            <h3 class="font-size-lg text-dark font-weight-bold mb-6">List of Category</h3>

            <div class="col-lg-12">
              <input type="text" class="form-control txtSerach" name="CatName" [(ngModel)]="CatName" (ngModelChange)="Search()" placeholder="Enter Category Name to Search"/>
                            
             </div>

           
              <table  class="table table-border">
                
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let catgory of Catgories | paginate: {itemsPerPage:10,currentPage:p} ">
                    <th scope="row">{{catgory.catId}}</th>
                    <td>{{catgory.categoryName}}</td>
                    <td><a (click)="Edit(catgory)">Edit</a> | Delete</td>
                   
                  </tr>
                  
                </tbody>
             
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
