<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <form class="form" #productinfoSetup="ngForm" (ngSubmit)="onSubmit()"  novalidate>
          
            <div class="card-body">
             <h3 class="font-size-lg text-dark font-weight-bold mb-6">Product Information</h3>
             <div class="mb-15">
                 <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-lg-12 col-form-label">Barcode Number:</label>
                        <div class="col-lg-12">
                         <input type="text"  required #barcode="ngModel" [class.is-invalid]="barcode.invalid && barcode.touched"  class="form-control" name="barcode" [(ngModel)]="productInfoModel.barcode"  placeholder="Enter barcode Number"/>
                         <small class="text-danger" [class.d-none]="barcode.valid || barcode.untouched">barcode Number is required</small>
                                
                        </div>
                       </div>
         
                       <div class="form-group col-md-6">
                         <label class="col-lg-12 col-form-label">Category Name:</label>
                         <div class="col-lg-12">
                             <select (blur)="CustomValidateCat(catId.value)" (change)="CustomValidateCat(catId.value)" class="form-control" #catId="ngModel" [class.is-invalid]="hasErrorCat && catId.touched" name="catId" [(ngModel)]="productInfoModel.catId">
                                 <option value="0">--Please choose an option--</option>
                                 <option value="{{cat.catId}}" *ngFor="let cat of Category">{{cat.categoryName}}</option>
                                
                             </select>
                             <small class="text-danger" [class.d-none]="!hasErrorCat || catId.untouched">Please select category name</small>
                         </div>
                        </div>
                 </div>
            

              <div class="row">
                <div class="form-group  col-md-6">
                    <label class="col-lg-12 col-form-label">Product Name:</label>
                    <div class="col-lg-12">
                    <input type="text" required #productName="ngModel" [class.is-invalid]="productName.invalid && productName.touched"  class="form-control" name="productName" [(ngModel)]="productInfoModel.productName"  placeholder="Enter Product Name"/>
                    <small class="text-danger" [class.d-none]="productName.valid || productName.untouched">Product Name is required</small>
                    
                    </div>
                </div>

                <div class="form-group  col-md-6">
                    <label class="col-lg-12 col-form-label">Brand Name:</label>
                    <div class="col-lg-12">
                        <select (blur)="CustomValidateBrand(brandId.value)" (change)="CustomValidateBrand(brandId.value)" class="form-control" #brandId="ngModel" [class.is-invalid]="hasErrorBrand && brandId.touched" name="brandId" [(ngModel)]="productInfoModel.brandId">
                            <option value="0">--Please choose an option--</option>
                            <option value="{{brand.brandId}}" *ngFor="let brand of Brands">{{brand.brandName}}</option>
                            
                        </select>
                        <small class="text-danger" [class.d-none]="!hasErrorBrand || brandId.untouched">Please select brand name</small>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="form-group col-md-6">
                <label class="col-lg-12 col-form-label">Unit Name:</label>
                <div class="col-lg-12">
                    <select (blur)="CustomValidateUnit(unitId.value)" (change)="CustomValidateUnit(unitId.value)" class="form-control" #unitId="ngModel" [class.is-invalid]="hasErrorUnit && unitId.touched" name="unitId" [(ngModel)]="productInfoModel.unitId">
                        <option value="0">--Please choose an option--</option>
                        <option value="{{unit.unitId}}" *ngFor="let unit of Units">{{unit.unitName}}</option>
                        
                    </select>
                    <small class="text-danger" [class.d-none]="!hasErrorUnit || unitId.untouched">Please select unit name</small>
                </div>
               </div>

               <div class="form-group col-md-6">
                <label class="col-lg-12 col-form-label">Buy Rate:</label>
                <div class="col-lg-12">
                 <input type="text" required #buyingPrice="ngModel" [class.is-invalid]="buyingPrice.invalid && buyingPrice.touched"  class="form-control" name="buyingPrice" [(ngModel)]="productInfoModel.buyingPrice"  placeholder="Enter Buying Price"/>
                 <small class="text-danger" [class.d-none]="buyingPrice.valid || buyingPrice.untouched">Buying price is required</small>
                 
                </div>
               </div>
            </div>
            <div class="row">
               <div class="form-group col-md-6">
                <label class="col-lg-12 col-form-label">Sell Rate:</label>
                <div class="col-lg-12">
                 <input type="text" required #sellPrice="ngModel" [class.is-invalid]="sellPrice.invalid && sellPrice.touched"  class="form-control" name="sellPrice" [(ngModel)]="productInfoModel.sellPrice"  placeholder="Enter Sell Price"/>
                 <small class="text-danger" [class.d-none]="sellPrice.valid || sellPrice.untouched">Sell price is required</small>
                 
                </div>
               </div>

               <div class="form-group col-md-6">
                <label class="col-lg-12 col-form-label">Opening Stock:</label>
                <div class="col-lg-12">
                 <input type="text" required #openingStock="ngModel" [class.is-invalid]="openingStock.invalid && orderLimit.touched"  class="form-control" name="openingStock" [(ngModel)]="productInfoModel.openingStock"  placeholder="Enter Opening Stock"/>
                 <small class="text-danger" [class.d-none]="openingStock.valid || openingStock.untouched">Opening Stock is required</small>
                 
                </div>
               </div>
            </div>

               <div class="form-group col-md-6">
                <label class="col-lg-12 col-form-label">Order Limit:</label>
                <div class="col-lg-12">
                 <input type="text" required #orderLimit="ngModel" [class.is-invalid]="orderLimit.invalid && orderLimit.touched"  class="form-control" name="orderLimit" [(ngModel)]="productInfoModel.orderLimit"  placeholder="Enter Order Limit"/>
                 <small class="text-danger" [class.d-none]="orderLimit.valid || orderLimit.untouched">Order Limit is required</small>
                 
                </div>
               </div>

               
             </div>
            </div>
            <div class="card-footer">
             <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <button [disabled]="productinfoSetup.form.invalid || hasErrorCat || hasErrorUnit || hasErrorBrand"  type="submit" class="btn btn-success mr-2">{{btnName}}</button>
               
              </div>
             </div>
            </div>
        </form>
    </div>
    <div class="col-md-2">

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-body">
            <h3 class="font-size-lg text-dark font-weight-bold mb-6">List of Products</h3>
            <div class="col-lg-12">
           
              <input type="text" autocomplete="off" class="form-control txtSerach" name="SearchProduct" [(ngModel)]="SearchProduct" placeholder="Enter Product Information to Search"/>
  
             </div>
  
           <table  class="table table-row">
                  
              <thead>
                <tr>
                  
                  <th scope="col" >Barcode Number</th>
                  <th >Category Name</th>
                  <th>Product Name</th>
                  <th>Brand Name</th>
                  <th>Unit Name</th>
                  <th>Buy Rate</th>
                  <th>Sell Rate</th>
                  <th>Opening Stock</th>
                  <th>Order Limit</th>

                  <th style="text-align: right;">Action</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of AllProducts | filter:SearchProduct | paginate: {itemsPerPage:5,currentPage:p};let i=index ">
                  
                  <th scope="row" >{{product.barcode}}</th>
                  <td>{{product.categoryName}}</td>
                  <td>{{product.productName}}</td>
                  <td>{{product.brandName}}</td>
                  <td>{{product.unitName}}</td>
                  <td>{{product.buyingPrice}}</td>
                  <td>{{product.sellPrice}}</td>
                  <td>{{product.openingStock}}</td>
                  <td>{{product.orderLimit}}</td>
                  <td>
                    <div class="d-flex justify-content-end flex-shrink-0">
                      <a (click)="Edit(product)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                        <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.3" d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z" fill="black" />
                                <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z" fill="black" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </a>
                    <a (click)="Delete(product.barcode)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="black" />
                                <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="black" />
                                <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="black" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </a>
                    </div>
                    
                                    
                </tr>
                
              </tbody>
           
            </table>
  
  
  
           <pagination-controls (pageChange)="p = $event"></pagination-controls>
             
        </div>
      </div>
</div>
